<div class="d-flex p-3 overflow-scroll">
  <!--NODE & OPTIONS CONTAINER-->
  <div class="d-flex flex-column flex-nowrap justify-content-start" style="color: crimson">
    <!--DIALOG NODE CONTAINER - CENTRED-->
    <div class="d-flex flex-row flex-nowrap justify-content-center" style="color: darkred">
      <dtt-dialog-node></dtt-dialog-node>
    </div>
    <!--DIALOG OPTION NODES CONTAINER-->
    <div class="options-row" style="color: tomato">
      <div *ngFor="let node of [].constructor(4)">
        <dtt-dialog-option-node></dtt-dialog-option-node>
      </div>
    </div>
  </div>

</div>
