@import "src/assets/styles/variables";

$icon-button-spacer: 0;

$node-width: 18rem;
$node-shortest: 18rem;
$node-tallest: 48rem;
$node-border: .5rem;
$node-spacer: .5rem;

$node-header-section-height: calc(3 * #{$icon-button-size});
$node-actions-width: calc(#{$icon-button-size} + #{$node-spacer});

.node-container {
  padding: $node-border;
  background: darkseagreen;
  display: flex;

  .node-content {
    width: $node-width;
    min-height: $node-shortest;
    max-height: $node-tallest;

    display: flex;
    flex-flow: row nowrap;
    column-gap: $node-spacer;

    dtt-dialog-actions {
      height: 100%;

      display: flex;
      flex-flow: column nowrap;
    }
    .node-main-content {
      width: calc(#{$node-width} - #{$node-actions-width});
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      //background: peachpuff;

      .node-header-section {
        height: $node-header-section-height;

        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-content: flex-start;

        .node-header {
          height: $icon-button-size;

          display: flex;
          flex-flow: row nowrap;
          align-items: center;

          h2 {
            margin: 0;
          }
        }
        .node-description {
          height: calc(2 * #{$icon-button-size});

          p {
            font-style: italic;
            line-height: normal;
            word-wrap: break-word;
          }
        }
      }
      .node-body {
        min-height: calc(#{$node-shortest} - #{$node-header-section-height});
        max-height: calc(#{$node-tallest} - #{$node-header-section-height});
        line-height: normal;

        mat-card {
          min-height: inherit;
          max-height: inherit;
          overflow-y: scroll;
        }
      }
    }
  }
}
