<div class="side-actions">
  <div class="side-actions-top">
    <!--SETTINGS-->
    <button
      mat-icon-button
      matTooltip="Dialog Settings">
      <mat-icon>
        settings
      </mat-icon>
    </button>
    <!--DETAILS-->
    <button
      mat-icon-button
      matTooltip="Edit Dialog Details">
      <mat-icon>
        note_alt
      </mat-icon>
    </button>
    <!--HISTORY-->
    <button
      mat-icon-button
      matTooltip="View History">
      <mat-icon>
        history
      </mat-icon>
    </button>
    <!--EDIT TEXT-->
    <button
      mat-icon-button
      matTooltip="Edit Dialog Text">
      <mat-icon>
        edit
      </mat-icon>
    </button>
    <!--VIEW FORMATTING-->
    <button
      mat-icon-button
      matTooltip="View Text Formatting"
      (click)="viewTextDetails = !viewTextDetails">
      <mat-icon>
        {{ !viewTextDetails ? 'visibility' : 'visibility_off' }}
      </mat-icon>
    </button>
  </div>
  <!--ADD DIALOG OPTION-->
  <div
    class="side-actions-bottom">
    <button
      mat-icon-button
      matTooltip="Add Link">
      <mat-icon>
        add_circle_outline
      </mat-icon>
    </button>
  </div>
</div>
